@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("/Views/Shared/NavBar.cshtml")

<div class="text-center">
    <h1 class="display-4">Double Partners</h1>
    <p><a href="https://doublevpartners.com/">Diseñamos la nueva forma de competir con tecnología.</a>.</p>
</div>
