@model List<Modelos.ClienteModel>


<label>Cliente</label>
<select name="SelectListaProductos">

    <option value="0">Seleccione un cliente...</option>

    @{

        if (ViewBag.Clientes != null)
        {
            foreach (var cliente in ViewBag.Clientes)
            {
                <option value="@cliente.Id">@cliente.RazonSocial</option>
            }
        }
    }
</select>

